{% load static %}
<div class="container-fluid" style="color: black; background-color: rgb(250, 246, 246); width: calc(100vw - 80px); padding: 10px; margin: 0 40px; max-width: none;"> 
    <footer class="py-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Terms & Policies</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: grey;">Privacy Policy</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: grey;">Terms of Service</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: grey;">Request Return/Exchange</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: grey;">Return Policy</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: grey;">Blogs</a></li>
                </ul>
            </div>
            
            <div class="col-6 col-md-2 mb-3">
                <h5>Company Info</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: gray;">Shipping Info</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: gray;">Payment Policy</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: gray;">Contact Us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: gray;">Track Order</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: gray;">SiteMap</a></li>
                </ul>
            </div>
            
            <div class="col-6 col-md-2 mb-3">
                <h5>Brands by Aakash</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: gray;">Red Flame</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color: gray;">Snitch</a></li>
                  
                </ul>
            </div>
            
            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe now for special offers</h5>
                   <br>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-warning" type="button">Subscribe</button>
                    </div>
                    <br>
                    <p>Want exclusive offers and first access to products? Sign up for email alerts.</p>
                </form>
            </div>
        </div>
        
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2024 AS-Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
               <li><a href="https://www.instagram.com/" target="_blank" class="me-3"><i class="bi bi-instagram"></i></a></li>
               <li><a href="https://www.facebook.com/login.php/" target="_blank" class="me-3"><i class="bi bi-facebook"></i></i></a></li>
               <li><a href="https://x.com/?lang=en&mx=2" target="_blank" class="me-3"><i class="bi bi-twitter-x"></i></a></li>
            </ul>
        </div>
    </footer>
</div>